<main class="main">
  <div class="container">
    <div class="frontend">
      <h1>Frontend Candidate Form</h1>
      <div class="card">
        <div class="row">
          <form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-field col s6">
                <input formControlName="firstName" id="first_name" type="text"
                       [ngClass]="{
                       'invalid': form.get('firstName').invalid && form.get('firstName').touched
                       }"/>
                <label for="first_name">First Name</label>
                <div *ngIf="form.get('firstName').invalid && form.get('firstName').touched"
                     class="helper-text red-text">
                  <span *ngIf="form.get('firstName')">Field can't be empty</span>
                </div>
              </div>
              <div class="input-field col s6">
                <input formControlName="lastName" id="last_name" type="text"
                       [ngClass]="{
                       'invalid': form.get('lastName').invalid && form.get('lastName').touched
                       }"/>
                <label for="last_name">Last Name</label>
                <div *ngIf="form.get('lastName').invalid && form.get('lastName').touched" class="helper-text red-text">
                  <span *ngIf="form.get('lastName')">Field can't be empty</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="email" id="email" type="email"
                       [ngClass]="{
                       'invalid': form.get('email').invalid && form.get('email').touched
                       }" uniqueEmail/>
                <label for="email">Email</label>
                <div *ngIf="form.get('email').invalid && form.get('email').touched" class="helper-text red-text">
                  <span *ngIf="form.get('email').errors['uniqueEmail']">Email already exists</span>
                  <span *ngIf="form.get('email').errors['required']">Email required</span>
                  <span *ngIf="form.get('email').errors['email']">Invalid Email</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="birth" type="text" #datepicker/>
                <label for="birth">Birthday</label>
              </div>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Choose a framework</mat-label>
                <mat-select formControlName="framework">
                  <mat-option (click)="selectOption(item.name)" [value]="item.name"
                              *ngFor="let item of frameworks">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field *ngIf="isSelectedValue">
              <mat-label>Choose a framework version</mat-label>
              <mat-select formControlName="frameworkVersion">
                <mat-option [value]="item" *ngFor="let item of frameworksVersion">{{item?.v}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <div class="input-field col s6">
                <input id="hobby" formControlName="hobbyName" type="text" [ngClass]="{
                'invalid': form.get('hobbyName').invalid && form.get('hobbyName').touched
                }"
                />
                <label for="hobby">hobby</label>
                <div *ngIf="form.get('hobbyName').invalid && form.get('hobbyName').touched"
                     class="helper-text red-text">
                  <span *ngIf="form.get('hobbyName').errors['required']">The field cannot be empty</span>
                </div>
              </div>
              <div class="input-field col s6">
                <input id="duration" formControlName="hobbyDuration" type="text" [ngClass]="{
                'invalid': form.get('hobbyDuration').invalid && form.get('hobbyDuration').touched
                }"
                />
                <label for="duration">how much months</label>
                <div *ngIf="form.get('hobbyDuration').invalid && form.get('hobbyDuration').touched"
                     class="helper-text red-text">
                  <span *ngIf="form.get('hobbyDuration').errors['required']">The field cannot be empty</span>
                </div>
              </div>
              <div class="right">
                <button class="btn waves-effect" type="button" style="margin-right: 20px" (click)="addHobbies()">Add
                  hobby
                </button>
              </div>
            </div>
            <div class="center">
              <button class="modal-action btn waves-effect"
                      type="submit"
                      [disabled]="form.invalid || isButtonDisabled">Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
